body {
  font-family: bit-map;
}

@font-face {
  font-family: bit-map;
  src: url(/fonts/8-bit-pusab.ttf);
}

header {
  font-size: 4vw;
  color: fuchsia;
  text-align: center;
  margin: 2vw;
}

canvas {
  width: 100%;
  background: blue;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

p {
  font-size: 2em;
  color: red;
  text-shadow: 2px 2px 2px pink;
  text-align: center;
  margin: 5vw;
}

#images {
  display: flex;
  justify-content: center;
}

#images img {
  width: 20vw;
  height: 20vw;
  border-radius: 100px;
  cursor: pointer;
  filter: saturate(3);
  background-position: 0 0;
  animation: spin 10s infinite linear;
}

#images img:hover {
  filter: invert(100%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: blue;
  font-size: 5vw;
}

.typewriter h3:hover {
  margin: 0 auto;
}

p a {
  font-size: 1em;
  text-decoration: none;
  color: fuchsia;
  cursor: pointer;
  text-shadow: 2px 2px 1px blue;
}

p a:hover {
  color: #ff0062;
  background: #00b2ff;
  padding: 2px 5px;
  text-shadow: 0px 0px 2px #40ff00;
  border-radius: 5px;
  border: 1px solid red;
  animation: links 5s linear 0s infinite;
  margin: 3px;
}

@keyframes links {
  0% {
    background: #00b2ff;
    color: #ff0062;
  }
  25% {
    background: lightgreen;
    color: blue;
  }
  50% {
    background: red;
    color: rgb(255, 225, 0);
  }
  75% {
    background: fuchsia;
    color: lightgreen;
  }
  100% {
    background: #00b2ff;
    color: #ff0062;
  }
}

@media (min-width: 981px) {
  header {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  .typewriter {
    font-size: 2em;
  }
}

@media (max-width: 980px) {
  p a {
    color: #ff0062;
    background: #00b2ff;
    padding: 2px 5px;
    text-shadow: 0px 0px 2px #40ff00;
    border-radius: 5px;
    border: 1px solid red;
    animation: links 5s linear 0s infinite;
    margin: 3px;
  }
}
