body {
  font-family: bit-map;
  background: yellow;
  font-family: bit-map;
  color: fuchsia;
}

@font-face {
  font-family: bit-map;
  src: url(../../fonts/8-bit-pusab.ttf);
}

pre {
  margin-top: 50px;
  margin-right: 50px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-size: 2rem;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 2em;
  margin-left: 20px;
}

a:visited {
  color: rgb(255, 0, 0);
}
