body {
  font-family: bit-map;
  background: yellow;
  font-family: bit-map;
  color: fuchsia;
}

@font-face {
  font-family: bit-map;
  src: url(../../fonts/8-bit-pusab.ttf);
}

pre {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 2rem;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  pre {
    font-size: 1rem;
  }
}
