body {
  background: yellow;
  color: green;
  font-family: bit-map;
}

main {
  margin: 10vw;
  text-align: center;
}

@font-face {
  font-family: bit-map;
  src: url(../fonts/8-bit-pusab.ttf);
}

ul li a {
  color: fuchsia;
  cursor: pointer;
  text-decoration: none;
  font-size: 50px;
}

ul {
  list-style-type: none;
}

.small-font {
  color: red;
  font-size: 30px;
}

ul li a:hover {
  color: blue;
}

#brasil-poem,
#english-poem {
  display: none;
  justify-content: center;
}

button {
  width: 80vw;
  background: rgb(255, 153, 230);
  color: rgb(0, 191, 255);
  border: 2px solid fuchsia;
  text-shadow: 0px 0px 5px white;
  font-family: bit-map;
  text-align: center;
  font-size: 3em;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}

.button-selected {
  background: rgb(0, 191, 255);
  color: rgb(255, 153, 230);
  border: 2px solid blue;
}

a {
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-size: 2em;
  margin-left: 20px;
}

a:visited {
  color: rgb(255, 0, 0);
}
